.cookies-wrapper {
    background: black;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    padding: 20px;
    position:fixed;
    bottom: 10%;
    left: 25%;
    max-width: 50%;
    margin: auto;
}

.cookies-wrapper p {
    display: block;
    max-width: fit-content;
    margin: 10px auto;
}

.cookies-wrapper button {
    background: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    max-width: fit-content;
    margin: auto;
}

.cookies-wrapper button:hover {
    background: white;
    color: black;
}