.main-menu {
    border-radius: 20px;
    border: 1px solid white;
    max-width: fit-content;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
}

.menu-list .row:hover{
    background-color: grey !important;
    border-radius: 20px;
}

.menu-list a{
    text-align: center;
    text-decoration: none;
    color: white
}