.rooms-wrapper {
    background: black;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    padding: 20px;
    max-width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.room-list {
    width: 90%;
    margin: 20px auto;
    max-height: 600px;
    overflow: auto;
}

.rooms-wrapper .user-greet button{
    background: red;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    margin: auto;
    width: fit-content;
}

.rooms-wrapper .user-greet button:hover{
    background: rgba(255, 0, 0, 0.568);
}

.room-list a{
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    margin: 10px 0;
    border: 1px solid white;
}

.room-list a:hover{
    background-color: white;
    color: black
}

.room-list i{
    color: rgb(121, 121, 121);
}

.rooms-panel button{
    background-color: black;
    width: 80%;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    position: relative;
    left: 10%;
    margin: 10px;
}

.rooms-panel button:hover{
    background-color: white;
    color: black
}