.login-form {
    background: black;
    border-radius: 20px;
    border: 1px solid white;
    color: white;
    padding: 20px;
    position:fixed;
    bottom: 50%;
    left: 40%;
    max-width: 20%;
    margin: auto;
}

@media (max-width: 991px) {
    .login-form {
        left: 10%;
        max-width: 80%;
    }
}

.login-form span {
    display: block;
    max-width: fit-content;
    margin: 10px auto;
}

.login-form input {
    display: block;
    width: 80%;
    margin: 10px auto;
}

.login-form button {
    background: black;
    color: white;
    border-radius: 20px;
    border: 1px solid white;
    max-width: fit-content;
    margin: auto;
}

.login-form button:hover {
    background: white;
    color: black;
}